<<<<<<< Updated upstream:GamaGameHub/GamaGameHub/Views/Account/Edit.cshtml
﻿@using GamaGameHub.Infrastructure.Data.Entities;
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Profile";
}

<div class="row flex-align-center">

    <div class="column large-6 tab-12">

        <h3 class="h-add-bottom">Edit Profile</h3>

        <form>
            <div>
                <label for="sampleInput">Username<span class="mandatory">*</span></label>
                <input class="h-full-width" type="text" placeholder="IvanIvanov">
            </div>
            <div>
                <label for="sampleInput">Password<span class="mandatory">*</span></label>
                <input class="h-full-width" type="password" placeholder="123asd123">
            </div>
            <div>
                <label for="sampleInput">Repeat password<span class="mandatory">*</span></label>
                <input class="h-full-width" type="password" placeholder="123asd123">
            </div>
            <div>
                <label for="sampleInput">Your Phone</label>
                <input class="h-full-width" type="text" placeholder="0823747232">
            </div>
            <div>
                <label for="sampleInput">Your Address</label>
                <input class="h-full-width" type="text" placeholder="ul. 23 Pehoten Shipchenski Polk">
            </div>
            <div>
                <label for="sampleInput">Your City</label>
                <input class="h-full-width" type="text" placeholder="Kazanlak">
            </div>
            <div>
                <label for="sampleInput">Your Country</label>
                <input class="h-full-width" type="text" placeholder="Bulgaria">
            </div>
            <div class="mb-3">
                <label class="profilePictureLabel">Profile Picture</label>
                <label class="btn h-full-width" for="uploadProfilePicture">Upload Profile Picture</label>
                <input id="uploadProfilePicture" class="upload-photo" name="Profile Picture" for="ProfilePictureUrl" accept="image/gif, image/jpeg, image/png" type="file">
                <span for="ProfilePictureUrl" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <img alt="Upload an image" accept="image/gif, image/jpeg, image/png" style="display:none;">
            </div>
            <div style="display:none;" id="yearOfCreating">
                <label for="sampleInput">Year of creating</label>
                <input class="h-full-width" type="text" placeholder="2005">
            </div>
            <div style="display:none;" id="additionalInformation">
                <label for="sampleInput">Additional Information</label>
                <input class="h-full-width" type="text" placeholder="Lorem ipsum additional information...">
            </div>

            <input class="btn--primary h-full-width" type="submit" value="Submit">
        </form>

    </div>

=======
﻿@{
    ViewData["Title"] = "Profile";
}

<div class="row flex-align-center">

    <div class="column large-6 tab-12">

        <h3 class="h-add-bottom">Edit Profile</h3>

        <form>
            <div>
                <label for="sampleInput">Your email<span class="mandatory">*</span></label>
                <input class="h-full-width" type="email" placeholder="test@mailbox.com" id="sampleInput" disabled>
            </div>
            <div>
                <label for="sampleInput">Username<span class="mandatory">*</span></label>
                <input class="h-full-width" type="text" placeholder="IvanIvanov" id="sampleInput">
            </div>
            <div>
                <label for="sampleInput">Password<span class="mandatory">*</span></label>
                <input class="h-full-width" type="password" placeholder="123asd123" id="sampleInput">
            </div>
            <div>
                <label for="sampleInput">Repeat password<span class="mandatory">*</span></label>
                <input class="h-full-width" type="password" placeholder="123asd123" id="sampleInput">
            </div>
            <div>
                <label for="sampleInput">Your Phone</label>
                <input class="h-full-width" type="text" placeholder="0823747232" id="sampleInput">
            </div>
            <div>
                <label for="sampleInput">Your Address</label>
                <input class="h-full-width" type="text" placeholder="ul. 23 Pehoten Shipchenski Polk" id="sampleInput">
            </div>
            <div>
                <label for="sampleInput">Your City</label>
                <input class="h-full-width" type="text" placeholder="Kazanlak" id="sampleInput">
            </div>
            <div>
                <label for="sampleInput">Your Country</label>
                <input class="h-full-width" type="text" placeholder="Bulgaria" id="sampleInput">
            </div>


            <input class="btn--primary h-full-width" type="submit" value="Edit Profile">
        </form>

    </div>

>>>>>>> Stashed changes:GamaGameHub/GamaGameHub/Views/User/Profile.cshtml
</div>