@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Register";
}
<div class="row flex-align-center">

    <div class="column large-6 tab-12">

        <h3 class="h-add-bottom">Register</h3>

        <form>
            <div>
                <label for="sampleInput">Your email<span class="mandatory">*</span></label>
                <input class="h-full-width" type="email" placeholder="test@mailbox.com" id="sampleInput">
            </div>
            <div>
                <label for="sampleInput">Username<span class="mandatory">*</span></label>
                <input class="h-full-width" type="text" placeholder="IvanIvanov" id="sampleInput">
            </div>
            <div>
                <label for="sampleInput">Password<span class="mandatory">*</span></label>
                <input class="h-full-width" type="password" placeholder="123asd123" id="sampleInput">
            </div>
            <div>
                <label for="sampleInput">Repeat password<span class="mandatory">*</span></label>
                <input class="h-full-width" type="password" placeholder="123asd123" id="sampleInput">
            </div>
            <div>
                <label for="sampleInput">Your Phone</label>
                <input class="h-full-width" type="text" placeholder="0823747232" id="sampleInput">
            </div>
            <div>
                <label for="sampleInput">Your Address</label>
                <input class="h-full-width" type="text" placeholder="ul. 23 Pehoten Shipchenski Polk" id="sampleInput">
            </div>
            <div>
                <label for="sampleInput">Your City</label>
                <input class="h-full-width" type="text" placeholder="Kazanlak" id="sampleInput">
            </div>
            <div>
                <label for="sampleInput">Your Country</label>
                <input class="h-full-width" type="text" placeholder="Bulgaria" id="sampleInput">
            </div>

            <input class="btn--primary h-full-width" type="submit" value="Submit">
        </form>

    </div>

</div>