@{
    ViewData["Title"] = "About Us";
}

<!-- content
================================================== -->
<section class="s-content">
    <div class="row">
        <div class="column large-12">

            <section>

                <div class="s-content__media">
                    <img src="~/images/thumbs/about/about-1050.png"
                         srcset="~/images/thumbs/about/about-2100.png 2100w,
                                     ~/images/thumbs/about/about-1050.png 1050w,
                                     ~/images/thumbs/about/about-525.png 525w" sizes="(max-width: 2100px) 100vw, 2100px" alt="">
                </div> <!-- end s-content__media -->

                <div class="s-content__primary">

                    <h1 class="s-content__title">Learn More About Us.</h1>

                    <p class="lead">Welcome to Gamma Game Hub! This project is dedicated to those who love playing and exploring all kinds of games. We consider our site a safe space for the gaming community to share their thoughts with each other and with us. Gamma Game Hub is also the perfect platform for game creators. Companies and new developers are always welcome to contact us and feature their games on our page.</p>

                    <p>At Gamma Game Hub, we want everyone, from casual players to hardcore enthusiasts, to feel like they belong. Join discussions, find new games, and connect with other gamers who love what you love. We're here to make gaming more than just a hobby – it's a shared experience.</p>

                    <hr>

                    <div class="row block-large-1-2 block-tab-full s-content__blocks">
                        <div class="column">
                            <h4>Who</h4>
                            <p>
                                Team Gamma is a passionate group of gamers and tech enthusiasts dedicated to delivering insightful and unbiased game reviews. Comprising diverse expertise and gaming preferences, our team members bring a wealth of experience to Gamma Game Hub, ensuring a comprehensive and well-rounded perspective on the gaming world.
                            </p>
                        </div>

                        <div class="column">
                            <h4>When</h4>
                            <p>Established in 2023, Gamma Game Hub has been a go-to destination for gaming enthusiasts seeking timely and reliable reviews. Since our inception, we've consistently provided our audience with up-to-date and relevant information on the latest gaming releases, ensuring that they stay well-informed about the ever-evolving world of gaming.</p>
                        </div>

                        <div class="column">
                            <h4>What</h4>
                            <p>Gamma Game Hub is your one-stop destination for in-depth game reviews, industry news, and engaging content. Whether you're a casual gamer or a hardcore enthusiast, our platform offers a diverse range of articles, videos, and features that cater to all gaming preferences. From AAA titles to indie gems, we cover it all, striving to be the ultimate resource for gamers looking to make informed decisions about their next gaming adventure.</p>
                        </div>

                        <div class="column">
                            <h4>How</h4>
                            <p>At Gamma Game Hub, we approach game reviews with a meticulous and fair methodology. Our team thoroughly plays and evaluates each game, considering aspects such as gameplay mechanics, graphics, narrative, and overall entertainment value. We believe in providing our readers with honest and transparent assessments, guiding them in making informed decisions about the games they choose to play.                            </p>
                        </div>

                    </div>

                </div> <!-- end s-content__primary -->

            </section>

        </div> <!-- end column -->
    </div> <!-- end row -->
</section> <!-- end s-content -->
