@{
    ViewData["Title"] = "About Us";
}

<!-- content
================================================== -->
<section class="s-content">
    <div class="row">
        <div class="column large-12">

            <section>

                <div class="s-content__media">
                    <img src="~/images/thumbs/about/about-1050.png"
                         srcset="~/images/thumbs/about/about-2100.png 2100w,
                                     ~/images/thumbs/about/about-1050.png 1050w,
                                     ~/images/thumbs/about/about-525.png 525w" sizes="(max-width: 2100px) 100vw, 2100px" alt="">
                </div> <!-- end s-content__media -->

                <div class="s-content__primary">

                    <h1 class="s-content__title">Learn More About Us.</h1>

                    <p class="lead">Welcome to Gamma Game Hub! This project is dedicated to those who love playing and exploring all kinds of games. We consider our site a safe space for the gaming community to share their thoughts with each other and with us. Gamma Game Hub is also the perfect platform for game creators. Companies and new developers are always welcome to contact us and feature their games on our page.</p>

                    <p>At Gamma Game Hub, we want everyone, from casual players to hardcore enthusiasts, to feel like they belong. Join discussions, find new games, and connect with other gamers who love what you love. We're here to make gaming more than just a hobby – it's a shared experience.</p>

                    <hr>

                    <div class="row block-large-1-2 block-tab-full s-content__blocks">
                        <div class="column">
                            <h4>Who.</h4>
                            <p>t nisi pariatur fugiat deseruntLorem ipsum Nisi amet fugiat eiusmod et aliqua ad qui ut nisi Ut aute anim mollit fugiat qui sit ex occaecat et eu molli dolor veniam reprehenderit aliquip magna nisi consequat aliqua veniam in aute ullamco Duis laborum ad non pariatur sit.</p>
                        </div>

                        <div class="column">
                            <h4>When.</h4>
                            <p>Lorem ipsum Nisi amet fugiat eiusmod et aliqua ad qui ut nisi Ut aute anim mollit fugiat qui sit ex occaecat et eu mollit nisi pariatur fugiat deserunt dolor veniam reprehenderit aliquip magna nisi consequat aliqua veniam in aute ullamco Duis laborum ad non pariatur sit.</p>
                        </div>

                        <div class="column">
                            <h4>What.</h4>
                            <p>Lorem ipsum Nisi amet fugiat eiusmod et aliqua ad qui ut nisi Ut aute anim mollit fugiat qui sit ex occaecat et eu mollit nisi pariatur fugiat deserunt dolor veniam reprehenderit aliquip magna nisi consequat aliqua veniam in aute ullamco Duis laborum ad non pariatur sit.</p>
                        </div>

                        <div class="column">
                            <h4>How.</h4>
                            <p>Lorem ipsum Nisi amet fugiat eiusmod et aliqua ad qui ut nisi Ut aute anim mollit fugiat qui sit ex occaecat et eu mollit nisi pariatur fugiat deserunt dolor veniam reprehenderit aliquip magna nisi consequat aliqua veniam in aute ullamco Duis laborum ad non pariatur sit.</p>
                        </div>

                    </div>

                </div> <!-- end s-content__primary -->

            </section>

        </div> <!-- end column -->
    </div> <!-- end row -->
</section> <!-- end s-content -->
