@model GamaGameHub.Core.Models.Home.ContactUsViewModel

@{
    ViewData["Title"] = "Contact Us";
}

<!-- content
   ================================================== -->
<section class="s-content site-page">
    <div class="row">
        <div class="column large-12">

            <section>

                <div class="s-content__media">
                    <img src="images/thumbs/contact/contact-1050.jpg"
                         srcset="images/thumbs/contact/contact-2100.jpg 2100w,
                                     images/thumbs/contact/contact-1050.jpg 1050w,
                                     images/thumbs/contact/contact-525.jpg 525w" sizes="(max-width: 2100px) 100vw, 2100px" alt="">
                </div> <!-- end s-content__media -->

                <div class="s-content__primary">

                    <h1 class="s-content__title">Get In Touch With Us</h1>

                    <p class="lead">If you encounter any technical difficulties on our site, wish to explore future collaboration opportunities, or have a general question, please inform us by filling out the contact form below. We welcome any suggestions on how to enhance and improve our site.</p>

                    <p>Your feedback is invaluable to us! Whether you've stumbled upon a captivating game that you think deserves a spotlight on our platform, or you have ideas on how we can elevate your gaming experience, we want to hear from you. We appreciate your engagement and look forward to building a vibrant gaming community together!</p>

                    <hr>

                    <div class="row block-large-1-2 block-tab-full s-content__blocks">
                        <div class="column">
                            <h4>Where to Find Us</h4>
                            <p>
                                st. "Oreshaka" 2<br>
                                6100 Kazanlak<br>
                                Bulgaria
                            </p>
                        </div>

                        <div class="column">
                            <h4>Contact Info</h4>
                            <p>
                                gammaGameHub@pmgkk.com<br>
                                Phone: 0895689745
                            </p>
                        </div>
                    </div> <!-- end s-content__blocks -->

                    <form method="post" asp-action="ContactUs">
                        <fieldset>

                            <div class="form-field">
                                <input type="text" asp-for="SenderName"  class="h-full-width" placeholder="Your Name" value="">
                            </div>

                            <div class="form-field">
                                <input type="email" asp-for="From" class="h-full-width" placeholder="Your Email" value="">
                            </div>

                            <div class="form-field">
                                <input type="text" asp-for="Subject" class="h-full-width" placeholder="Your Subject" value="">
                            </div>

                            <div class="message form-field">
                                <textarea asp-for="Body" class="h-full-width" placeholder="Your Message"></textarea>
                            </div>

                            <button type="submit" class="btn btn--primary btn--medium h-full-width">Send</button>

                        </fieldset>
                    </form> <!-- end form -->

                </div> <!-- end s-content__primary -->

            </section>

        </div> <!-- end column -->
    </div> <!-- end row -->
</section> <!-- end s-content -->

<script src="~/_framework/aspnetcore-browser-refresh.js"></script>